@import "../themes/light_theme";

@keyframes flipIcon {
  to {
    transform: rotate(180deg);
  }
}

.campolaboral-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  font-size: 1em;
  flex-flow: column;

  .accordion {
    @include card;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    width: auto;
    height: 100%;
    margin: 20px;

    .accordionItem {
      display: flex;
      flex-flow: column;
      height: auto;
      box-shadow: 0px 0.5px 3px 0.5px #00000042;
      transition-property: height;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;

      .header {
        display: flex;
        width: auto;
        justify-content: space-between;
        padding: 10px 20px;

        .title {
          background-color: #ffffff;
          text-align: left;
          font-size: 1.5em;
          margin: 0;
          font-weight: bold;
          justify-content: center;
        }

        .toggle {
          display: flex;
          flex-flow: column;
          justify-content: center;
          background-color: transparent;
          animation-name: none;
          animation-timing-function: ease-in-out;
          animation-duration: 200ms;
          animation-fill-mode: both;

          i {
            font-size: 1em;
          }
        }
      }

      .desc {
        display: flex;
        flex-flow: column;
        width: auto;
        display: none;

        p {
          margin: 10px 20px;
        }
      }

      .salario {
        align-self: flex-end;
        width: fit-content;
        height: auto;
        display: none;
        margin: auto 0 20px 0;
        color: #ffffff;
        background-color: #008000;
        border-radius: 50px 0 0 50px;
        padding: 10px;
        font-weight: bold;
        letter-spacing: 0.9px;
        font-size: 1em;
      }
    }

    .expand {
      height: 100%;

      .header {
        .toggle {
          animation-name: flipIcon;
        }
      }

      .desc {
        display: flex;
      }

      .salario {
        display: flex;
      }
    }
  }
}
