@import "../themes/light_theme";

@keyframes flipIcon {
  to {
    transform: rotate(180deg);
  }
}

.campolaboral-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  font-size: 1em;
  flex-flow: column;

  .accordion {
    @include card;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    width: auto;
    height: 100%;
    margin: 20px 40px;
  }
}
