@import "../themes/light_theme";

.campolaboral-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  font-size: 1em;
  flex-flow: column;

  .accordion {
    @include card;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    width: auto;
    height: 100%;
    margin: 20px;

    .accordionItem {
      height: auto;
      flex-grow: 1;
      box-shadow: 0px 0.5px 3px 0.5px #00000042;
      padding: 10px;
      cursor: pointer;
      flex-flow: column;

      .title {
        background-color: #ffffff;
        text-align: left;
        padding-left: 10px;
        font-size: 1.5em;
        margin: 0;
        font-weight: bold;
      }

      .desc {
        padding: 10px;
        overflow: hidden;
        transform: scale(0);
        visibility: hidden;

        .salario {
          width: 100%;
          height: auto;
          margin: 10px 0 0 0;
          color: #008000;
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
