@import "../themes/light_theme";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.home-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: calc(100vh - 50px);
  z-index: 0;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/utp_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.3);
    width: 100%;
    height: calc(100vh - 50px);
  }

  .welcome-container {
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    height: 100%;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;

    iframe {
      margin: auto 0;
    }

    .welcome-info {
      background-color: #ffffff;
      width: 400px;
      height: 500px;
      border-radius: 10px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      box-sizing: border-box;

      .welcome-title {
        text-align: center;
        font-weight: 100;
        font-size: 1.4em;
        color: #161616;
        margin: 10px 0px;
      }

      .welcome-footer {
        background-color: $accent;
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: space-evenly;
        padding: 20px 10px 0px 10px;

        .icon {
          display: flex;
          align-items: center;
          width: 70px;
          flex-flow: column;

          i {
            text-align: center;
            width: 50px;
            height: 50px;
            padding: 5px;
            background-color: #ffffff;
            color: $accent;
            border-radius: 50%;
            display: flex;
            flex-flow: column;
            font-size: 1.7em;
            align-items: center;
            justify-content: center;
          }

          p {
            color: #ffffff;
            text-align: center;
            font-size: 0.9em;
            margin: 10px 0px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    height: 100%;

    &::after {
      background-size: cover;
      background-position: center;
      background: url("../img/utp_background.jpg") no-repeat center center fixed;
      height: 100%;
      overflow: hidden;
    }

    .welcome-container {
      flex-flow: column;

      iframe {
        width: 100%;
        height: 200px;
        margin: 30px;
      }

      .welcome-info {
        width: 100%;
        margin: 10px;
      }
    }
  }
}
