@import "../themes/light_theme";

.home-container {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: space-around;
  align-items: center;

  iframe {
    @include card();
    width: 480px;
    height: 300px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    height: 100%;

    &::before {
      height: 100%;
      overflow: hidden;
    }
  }
}
