// Global
$accent: #006391;
$secondary: #004fa8;
$screen-container-width: 1200px;
$screen-container-height: auto;

// Breadcrumb component
$bc-item-color: #202124;
$separator-color: $accent;

//Navbar
$navbar-height: auto;
$navbar-bg: #fff;
$link-width: fit-content;
$link-hover-bg: #00639149;
$link-color: #333;

@mixin card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.219);
  background-color: #fff;
}
