@import "../themes/light_theme";

.aboutItem-container {
  width: 0px;
  height: auto;
  display: flex;
  background-color: darken($accent, 15%);
  overflow: hidden;
  transition-property: width;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
  flex-grow: 1;
  cursor: pointer;

  img {
    width: auto;
    height: 100%;
    filter: brightness(50%);
    position: relative;
    transition-property: filter;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }

  p {
    display: flex;
    flex-flow: column;
    font-family: "Roboto";
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 1em;
  }
}

.expand {
  width: 100%;

  img {
    filter: none;
  }
}
