@import "../themes/light_theme";

.aboutItem-container {
  width: 300px;
  height: auto;
  border-radius: 5px;
  display: flex;
  background-color: darken($accent, 15%);
  overflow: hidden;
  transition-property: width;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  flex-shrink: 1;

  img {
    width: auto;
    height: 100%;
    margin: 0;
    transition: transform 2ms ease-in-out;
    filter: brightness(50%);
    position: relative;
    pointer-events: none;
  }

  p {
    pointer-events: none;
    font-family: "Roboto";
    color: #ffffff8f;
    height: 0;
    width: 0;
    transition: all 200ms ease-in-out;
    margin: 0;
    opacity: 0;
    font-size: 0.8em;
  }

  &:hover {
    width: 1000px;
    flex-grow: 6;
  }
}
