@import "../themes/light_theme";

.aboutItem-container {
  width: 0px;
  height: auto;
  display: flex;
  background-color: darken($accent, 15%);
  overflow: hidden;
  transition-property: width;
  transition-duration: 1000ms;
  transition-timing-function: ease-in-out;
  flex-grow: 1;
  cursor: pointer;

  img {
    width: auto;
    height: 100%;
    filter: brightness(50%);
    position: relative;
    pointer-events: none;
    transition-property: filter;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }

  .info {
    display: flex;
    flex-flow: column;

    .close-btn {
      @include card();
      cursor: pointer;
      outline: none;
      background: $terciary;
      border-radius: 50%;
      min-width: 40px;
      min-height: 40px;
      margin: 10px;
      z-index: 100;
      align-self: flex-end;
      color: #fff;
      border: none;

      i {
        font-size: 1.2em;
        pointer-events: none;
      }
    }

    p {
      display: flex;
      flex-flow: column;
      font-family: "Roboto";
      color: #fff;
      height: 100%;
      width: 100%;
      padding: 30px;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-size: 1em;
      pointer-events: none;
    }
  }
}

.expand {
  width: 100%;
  cursor: default;

  img {
    filter: none;
  }
}
