@import "../themes/light_theme";

.breadcrumbs-container {
  box-sizing: border-box;
  width: auto;
  margin: 0px 20px;
  border-bottom: 1px solid #0000003b;
  display: flex;
  padding: 0px 20px;
  font-family: "Product Sans Regular";

  .items {
    display: flex;

    .bc-item {
      margin: 5px 10px;
      color: $bc-item-color;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-radius: 4px;
    }

    .link {
      padding: 10px;
      transition: 0.2s background-color ease-in-out;

      &:hover {
        background-color: #33333317;
      }
    }

    .separator {
      color: $separator-color;
      font-size: 1em;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }
}
