@import "../themes/light_theme";

#navbar-container {
  margin: 0 20px;
  background-color: $navbar-bg;
  width: auto;
  height: $navbar-height;
  display: flex;
  border-radius: 0px;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  padding: 10px 5px;
  border-bottom: 1px solid #0000003b;

  .menu-link {
    margin: 0 5px;
    font-size: 0.8em;
    text-align: center;
    justify-content: center;
    color: $link-color;
    display: flex;
    text-decoration: none;
    height: auto;
    width: $link-width;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    transition: 0.2s all ease-in;
    font-weight: bold;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50px;

    p {
      margin: auto 5px;
      font-size: 100%;
    }

    &:hover {
      background-color: $link-hover-bg;
      color: $link-hover-color;
    }
  }
}
