@import "../themes/light_theme";

#navbar-container {
  @include card();
  margin: 0;
  background-color: #fff;
  width: 100%;
  height: $navbar-height;
  display: flex;
  border-radius: 0px;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;

  .menu-link {
    margin: 0 10px;
    font-size: 0.8em;
    text-align: center;
    color: $link-color;
    display: flex;
    text-decoration: none;
    height: auto;
    width: $link-width;
    border-bottom: transparent 5px solid;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
    transition: 0.2s all ease-in;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0;
    border-radius: 50px;

    &:hover {
      background-color: $link-hover-bg;
    }
  }
}
