@import "../themes/light_theme";

.welcomePanel-container {
  @include card();
  display: flex;
  height: fit-content;
  width: auto;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;

  .welcome-info {
    background-color: #ffffff;
    width: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    overflow: hidden;

    .welcome-title {
      text-align: center;
      font-weight: 100;
      font-size: 1.4em;
      color: #161616;
      margin: 10px 5px;
    }

    .welcome-list {
      display: flex;
      flex-flow: column;
      height: auto;
      width: 100%;
      margin: 20px 0 0 0;
      padding: 0 0 0 30px;
      font-size: 0.9em;

      li {
        display: flex;
        width: 100%;
        align-items: center;

        i {
          color: $terciary;
          font-size: 0.6em;
          margin: 0 10px 0 0;
        }

        p {
          margin: 10px 0;
        }
      }
    }

    .home-btn {
      margin: 20px 0;
      @include card();
      background-color: $terciary;
      color: #ffffff;
      border: none;
      outline: none;
      width: 200px;
      height: 30px;
      padding: 5px;
      border-radius: 50px;
      cursor: pointer;
      font-family: "Product Sans Regular";
      letter-spacing: 1px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #fff;
        color: $terciary;
      }
    }

    .welcome-footer {
      box-sizing: border-box;
      background-color: $accent;
      display: flex;
      justify-self: flex-end;
      width: 100%;
      height: auto;
      justify-content: space-evenly;
      padding: 10px 10px 0px 10px;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 100%;
        flex-flow: column;

        i {
          text-align: center;
          width: 40px;
          height: 40px;
          padding: 5px;
          background-color: #ffffff;
          color: $accent;
          border-radius: 50%;
          display: flex;
          flex-flow: column;
          font-size: auto;
          align-items: center;
          justify-content: center;
        }

        p {
          color: #ffffff;
          text-align: center;
          font-size: 0.8em;
          margin: 10px 0px;
        }
      }
    }
  }
}
