@font-face {
  font-family: "Product Sans Regular";
  src: url("./fonts/Product\ Sans\ Regular.ttf");
}

@font-face {
  font-family: "Product Sans Bold Italic";
  src: url("./fonts/Product\ Sans\ Bold\ Italic.ttf");
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("./fonts/Product\ Sans\ Bold.ttf");
}

@font-face {
  font-family: "Product Sans Italic";
  src: url("./fonts/Product\ Sans\ Italic.ttf");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Product Sans Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
